<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.user.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUserServlet</servlet-name>
        <servlet-class>controller.user.ListUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.auth.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>controller.mail.SendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassword</servlet-name>
        <servlet-class>controller.auth.ForgetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCode</servlet-name>
        <servlet-class>controller.auth.VerifyCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.user.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>controller.user.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>controller.user.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>controller.user.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSupplierServlet</servlet-name>
        <servlet-class>controller.supplier.ListSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSupplierServlet</servlet-name>
        <servlet-class>controller.supplier.EditSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSupplierServlet</servlet-name>
        <servlet-class>controller.supplier.AddSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordByForget</servlet-name>
        <servlet-class>controller.auth.ChangePasswordByForget</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMaterialController</servlet-name>
        <servlet-class>controller.material.AddMaterialController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMaterialController</servlet-name>
        <servlet-class>controller.material.EditMaterialController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMaterialController</servlet-name>
        <servlet-class>controller.material.ListMaterialController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportHistoryServlet</servlet-name>
        <servlet-class>controller.importhistory.ImportHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterSupplierServlet</servlet-name>
        <servlet-class>controller.supplier.FilterSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProposalController</servlet-name>
        <servlet-class>controller.proposal.ProposalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportMaterial</servlet-name>
        <servlet-class>controller.importhistory.ExportMaterial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportHistoryDetailServlet</servlet-name>
        <servlet-class>controller.importhistory.ImportHistoryDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddChildCategoryController</servlet-name>
        <servlet-class>controller.material.AddChildCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProposalServlet</servlet-name>
        <servlet-class>controller.proposal.ProposalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListParentCategoryController</servlet-name>
        <servlet-class>controller.material.ListParentCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddParentCategoryController</servlet-name>
        <servlet-class>controller.material.AddParentCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportMaterialServlet</servlet-name>
        <servlet-class>controller.importhistory.ImportMaterialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMaterialSupplier</servlet-name>
        <servlet-class>controller.supplier.AddMaterialSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportHistoryServlet</servlet-name>
        <servlet-class>controller.importhistory.ExportHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminApproveServlet</servlet-name>
        <servlet-class>controller.proposal.AdminApproveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProposalDetailServlet</servlet-name>
        <servlet-class>controller.proposal.AdminProposalDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateProposalServlet</servlet-name>
        <servlet-class>controller.proposal.AdminUpdateProposalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirectorProposalsServlet</servlet-name>
        <servlet-class>controller.proposal.DirectorProposalsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProposalServlet</servlet-name>
        <servlet-class>controller.proposal.ListProposalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditChildCategoryController</servlet-name>
        <servlet-class>controller.material.EditChildCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirectorApproveProposal</servlet-name>
        <servlet-class>controller.proposal.DirectorApproveProposal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditParentCategoryController</servlet-name>
        <servlet-class>controller.material.EditParentCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportHistoryDetailServlet</servlet-name>
        <servlet-class>controller.importhistory.ExportHistoryDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProposalServlet</servlet-name>
        <servlet-class>controller.proposal.EditProposalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailProposalServlet</servlet-name>
        <servlet-class>controller.proposal.DetailProposalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckVoucherIdServlet</servlet-name>
        <servlet-class>controller.importhistory.CheckVoucherIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExecuteProposalServlet</servlet-name>
        <servlet-class>controller.proposal.ExecuteProposalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProposalExecute</servlet-name>
        <servlet-class>controller.proposal.ListProposalExecute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListConsructionSite</servlet-name>
        <servlet-class>controller.constructionSites.ListConsructionSite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListConstructionSites</servlet-name>
        <servlet-class>controller.constructionSites.ListConstructionSites</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeDashboard</servlet-name>
        <servlet-class>controller.user.EmployeeDashboard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/edituser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUserServlet</servlet-name>
        <url-pattern>/listuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/forgetPassword/change_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/send_mail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassword</servlet-name>
        <url-pattern>/forgetPassword/forget_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCode</servlet-name>
        <url-pattern>/forgetPassword/verifyCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/userprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSupplierServlet</servlet-name>
        <url-pattern>/ListSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSupplierServlet</servlet-name>
        <url-pattern>/EditSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSupplierServlet</servlet-name>
        <url-pattern>/AddSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordByForget</servlet-name>
        <url-pattern>/forgetPassword/changePasswordByForget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMaterialController</servlet-name>
        <url-pattern>/AddMaterialController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMaterialController</servlet-name>
        <url-pattern>/EditMaterialController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMaterialController</servlet-name>
        <url-pattern>/ListMaterialController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterSupplierServlet</servlet-name>
        <url-pattern>/FilterSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportHistoryServlet</servlet-name>
        <url-pattern>/importhistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProposalController</servlet-name>
        <url-pattern>/ProposalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportMaterial</servlet-name>
        <url-pattern>/exportMaterial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportHistoryDetailServlet</servlet-name>
        <url-pattern>/importhistorydetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddChildCategoryController</servlet-name>
        <url-pattern>/AddChildCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProposalServlet</servlet-name>
        <url-pattern>/ProposalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListParentCategoryController</servlet-name>
        <url-pattern>/ListParentCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddParentCategoryController</servlet-name>
        <url-pattern>/AddParentCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportMaterialServlet</servlet-name>
        <url-pattern>/ImportMaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMaterialSupplier</servlet-name>
        <url-pattern>/AddMaterialSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportHistoryServlet</servlet-name>
        <url-pattern>/exportHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminApproveServlet</servlet-name>
        <url-pattern>/AdminApproveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProposalDetailServlet</servlet-name>
        <url-pattern>/AdminProposalDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateProposalServlet</servlet-name>
        <url-pattern>/AdminUpdateProposalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirectorProposalsServlet</servlet-name>
        <url-pattern>/DirectorProposalsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProposalServlet</servlet-name>
        <url-pattern>/ListProposalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditChildCategoryController</servlet-name>
        <url-pattern>/EditChildCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirectorApproveProposal</servlet-name>
        <url-pattern>/DirectorApproveProposal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditParentCategoryController</servlet-name>
        <url-pattern>/EditParentCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportHistoryDetailServlet</servlet-name>
        <url-pattern>/exportHistoryDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProposalServlet</servlet-name>
        <url-pattern>/EditProposalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailProposalServlet</servlet-name>
        <url-pattern>/DetailProposalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckVoucherIdServlet</servlet-name>
        <url-pattern>/check_voucher_id</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecuteProposalServlet</servlet-name>
        <url-pattern>/ExecuteProposalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProposalExecute</servlet-name>
        <url-pattern>/ListProposalExecute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListConsructionSite</servlet-name>
        <url-pattern>/ListConsructionSite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListConstructionSites</servlet-name>
        <url-pattern>/ListConstructionSites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeDashboard</servlet-name>
        <url-pattern>/EmployeeDashboard</url-pattern>
    </servlet-mapping>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>
